.product {
  margin: auto;
  text-align: center;

  .category {
    display: flex;
    justify-content: center;
  }

  .price {
    color: grey;
  }

  .button {
    display: flex;
    justify-content: center;
  }
}
